VWOtv.xcodeproj/xcuserdata/swapnilagarwal1.xcuserdatad/xcschemes/VWOtv.xcscheme
VWOtv.xcodeproj/xcuserdata/swapnilagarwal1.xcuserdatad/xcschemes/xcschememanagement.plist
VWOtv.xcodeproj/xcuserdata/swapnilagarwal1.xcuserdatad/xcschemes/VWOAggregate.xcscheme
